:root {
  --color: red;
  --warning: 4px solid var(--color);
}

html:not([lang]),
video[autoplay],
audio[autoplay],
img[alt=''],
img:not([alt]),
label:not([for]),
a:not([title]),
a[title=''],
[style],
[target$='blank']:not([rel]),
[target$='blank']:not([rel*='noopener']),
[target$='blank']:not([rel*='noreferrer']) {
  border: var(--warning);
}
